img	{	
	height: 350px;
	border-radius: 50%;
	border-style: solid;
	border-color: White;
}

body {
	text-align: center;
	font-family: sans-serif;
	background: black;
	color: white;
	font-size: 175%;

}